general: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  host: localhost
  username:
  password:

development:
  <<: *default
  database: lonchetime_dev

test:
  <<: *default
  database: lonchetime_test

production:
  adapter: postgresql
    pool: 5
    host: localhost
    min_messages: WARNING
    database: lonchetime
