.central-container
  .list-header
    %h3= t('restaurants.restaurants')
    = link_to new_restaurant_path, class: 'btn btn-primary' do
      %span{ class: 'glyphicon glyphicon-plus' }
      %span= t('restaurants.restaurant')

  = render partial: 'shared/restaurant_list', locals: { restaurants: @restaurants }
