.central-container
  .list-header
    %h3= 'Restaurants'
    = link_to 'Add Restaurant', new_restaurant_path, class: 'btn btn-primary'

  %ul#restaurants-list
    = render partial: 'restaurant_item', collection: @restaurants, as: :restaurant
