%nav
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ 'aria-expanded' => 'false', 'data-target' => '#menu-collapse',' "data-toggle"' => 'collapse', type: 'button' }
        %span.sr-only Menu
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to('LoncheTime', root_path, class: 'navbar-brand')
    #menu-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{ class: active_menu('restaurants') }
          = link_to(t('restaurants.restaurants'), restaurants_path)
